main, footer{
    background-color: rgb(218, 218, 218);
    background-attachment: fixed;
}

p{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color: #0F7A97;
}

.parrafo{
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: #970f48;
}

.enfasis{
    font-size: 18px;
    color: #e04212;
}