h1{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

h2{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

h3{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

h4{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

p{
    font-family: 'Delius', cursive;
    font-size: 1.125em;
}

li a{
    font-size: 25px;
    font-family: 'Neucha', cursive;
}

a:hover{
    text-decoration: none;
}

.imagen{
    width: 600px;    
}

form{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

