h1{
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
    color: #837711;
    font-size: 60px;    
    text-align: center;
}

.imagen{
    width: 500px;
    margin-left: 430px;
}

h2{
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    font-weight: bold;
    color: #837711;
}

p{
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-size: 20px;
    color: #332c29;
    text-align: justify;
}

footer{
    background-color: rgb(77, 76, 75);
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
    font-family: 'Alef', sans-serif;    
}